<div class="container mt-5" style="padding: 136px 0;">
	<div class="card offset-3" style="width: 50%;">
		<div class="row">
			<div class="col">
				<div class="col py-4 m-0">
					<h2>Connexion</h2>

						<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
							<div class="form-inputs">
								<%= f.input :email,
														required: false,
														autofocus: true,
														input_html: { autocomplete: "email" },
														class: 'form-control' %>
								<%= f.input :password,
														required: false,
														input_html: { autocomplete: "current-password" },
														class: 'form-control' %>
								<%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
							</div>

							<div class="form-actions">
								<%= f.button :submit, "Se Connecter", class: 'btn btn-primary' %>
							</div>
						<% end %>

						<%= render "users/shared/links" %>

				</div>
			</div>
		</div>
	</div>
	
</div>
