<div class="container" style="margin-top: 80px">
	<div class="row">
		<div class="col-12" align="center">
			<h1>Mon Profil</h1>
			<hr>
					<div class="col-6">
						<p class="d-flex justify-content-between py-4">
								<%= image_tag current_user.avatar.url(:medium) %>
								<span class="text-right mt-5">
									<%= current_user.username %>
									<br>
									<%= current_user.email %>
									<br>
									<%= current_user.pays %>
									<br>
									<%= current_user.ville %>
									<br>
									<%= current_user.telephone %>
									<br>
									<%= current_user.zipcode %>
								</span>
						</p>
					</div>
				<div class="col-8">
					<hr>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus cum eaque corrupti minus est qui ipsum dignissimos cupiditate error quo deserunt, accusantium culpa ullam sit id animi provident, modi nulla.
					</p>
				</div>
			<hr>
		</div>
	</div>
</div>