<div class="container mt-5">
  <div class="row">
    <div class="section col-12">
      <div class="col py-4 m-0">

      	<h1>Editer <%= @product.name %></h1>

        <%= simple_form_for(@product) do |f| %>
          <%= f.error_notification %>
          <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

          <%= tinymce :default %>

          <div class="form-inputs">
            <%= f.input :picture, as: :file %>
            <%= f.input :name, class: 'form-control' %>
            <%= f.text_area :description, class: 'form-control tinymce', rows: 10 %>
            <%= f.input :price, class: 'form-control' %>
            <%= f.association :category_product, prompt: "Choisissez une Catégorie", class: 'form-control' %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, class: 'btn btn-primary' %>
            <%= link_to 'Show', @product %> |
						<%= link_to 'Back', products_path %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
