<!DOCTYPE html>
<html>
  <head>
    <title>Ambiancy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= render 'partages/navbar' %>

    <%= render 'partages/flash-messages' %>

    <%= yield %>

    <%= render 'partages/footer' %>

  </body>
</html>
